<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>

    <body>
        <section class="header">
            <h4>Welcome to Supreme Mario Market</h4>
            <div class="nav-links">
                <ul>
                    <a href="/login">
                        <li>Login</li>
                    </a>
                    <a href="/register">
                        <li>Register</li>
                    </a>
                </ul>
            </div>
        </section>
    </body>

</html>